body {
    background: url('/static/image/bg-gray.jpg');
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.hide {
    display: none;
}
#rank-board {
    position: absolute;
    top: 0;
}
#accordion {
    width: 220px;
    position: fixed;
    top: 10px;
    left: 20px;
}
.dl-horizontal dt {
    width: 60px;
}
.dl-horizontal dd {
    margin-left: 60px;
}
#accordion .panel-title a {
    text-align: center;
}
input[name="myGame"] {
    display: block;
    margin: 0 auto;
}

.score-text {
    text-align: center;
}

header {
    margin-bottom: 15px;
}