body {
    background: url('/static/image/bg-gray.jpg');
}
.hide {
    display: none;
}
#rank-board {
    position: absolute;
    top: 0;
}
#accordion {
    width: 400px;
    position: fixed;
    top: 10px;
    left: 20px;
}